<section class="component">
    <h3 id="taskbar">Shortcut</h3>
    <div>
        <p>
            <code>shortcut</code> and <code>active</code>
        </p>
        <%- example(` 
        <div class="background">
            <div class="shortcut active">
                <img src="./cmd.webp"/>
                <div class="shortcut-label">
                    CMD
                </div>
            </div>
        </div>
        `) %>
    </div>
</section>