.winapp {
    width: 80px;
    height: 80px;
    transform: translate(0px, 0px);
    z-index: 1;
}

.item.active {
    border-color: #b8d6fc;
    background: linear-gradient(0deg, rgba(193, 220, 252, .6666666667), rgba(220, 235, 252, .6666666667));
    -webkit-box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .6666666667);
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .6666666667);
}

.item.active {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(193, 220, 252, .6666666667)), to(rgba(220, 235, 252, .6666666667)));
}

.item {
    padding: 4px 2px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.item {
    font-size: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

}

.item:hover {
    background: rgba(242, 247, 254, .4666666667);
    -webkit-box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .6666666667);
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .6666666667);
}